.card2 {
  position: relative;
  width: 290px;
  height: 390px;
  cursor: pointer;
  perspective: 1000px;
}

.card2__text {
  font-size: 50px;
  color: var(--white);
  text-shadow: 0 0 0.5rem #000;
}

.card2__front,
.card2__back {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--white);
  border-radius: 15px;
  background: rgba(255, 255, 255, 40%);
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
}

.card2__front {
  transform: rotateY(0deg);
  transition: 1s ease-in-out;
}

.card2__back {
  transform: rotateY(180deg);
  transition: 1s ease-in-out;
}

.card2:hover .card2__front {
  transform: rotateY(180deg);
}

.card2:hover .card2__back {
  transform: rotateY(360deg);
}

.card2__content--img {
  width: 100%;
  height: 40%;
}

.card2__img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

.card2__content--info {
  width: 100%;
  height: 60%;
  background: var(--blueLight);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.card2__title {
  font-size: 1.5rem;
  color: #fff;
}

.card2__subtitle {
  font-size: 1rem;
  color: #fff;
}

.card2__link {
  display: block;
  line-height: 50px;
  width: 100px;
  height: 50px;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: var(--blue);
  border-radius: 5px;
}

.card2__link:hover {
  box-shadow: 0 0 0.5rem #fff;
}

/* responsive */

@media (max-width: 950px) {
  .card2 {
    width: 190px;
    height: 240px;
  }

  .card2__text {
    font-size: 30px;
  }

  .card2__front {
    gap: 0.5rem;
  }

  .card2__content--info {
    gap: 0.5rem;
  }

  .card2__title {
    font-size: 18px;
    text-align: center;
  }

  .card2__subtitle {
    font-size: 14px;
  }

  .card2__link {
    width: 80px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }
}
